doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
      a(href='/')
        img(src="/images/plLogowhite.png")
    div#nav
      ul
        a(href='/music')
          li#firstNav.hue Music
            ul#drop
              li Discography 
              a(href='/songs')
                li Songs
        li.hue Shows
          ul#drop.shows
            a(href='/setlists')
              li Setlists
            a(href='/venues')
              li Venues
            a(href='/tour')
              li Upcoming
        li.hue Pictures
        li.hue Videos
          ul#drop
            li Music Videos 
            li Live Videos
        li.hue Market
        li.hue Forum 
        if (username)
          -var usered = username.slice(0,25)
          li.hued.usered
            span.stat Logged In:
            if (username.length > 24)
              span.userNamed(href='#') Hi, #{usered}...
              span.cheat #{usered}
            else
              span.userNamed(href='#') Hi, #{username}
              span.cheat #{username}
            a.profileLink(href='#') Profile
            a.logoutLink(href='/auth/signout') Log Out 
        else
          a(href='auth/signin')
            li.hue Sign In 
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(type='text/javascript' src='/javascripts/hue.js')
    block content 
