extends ../layout
block content
  div#header
    a(href='/')
      img(src="../../images/plLogo.png")
  div#nav
    ul
      a(href='/music')
        li#firstNav Music
      li Pictures
      li Videos
      a(href='/tour')
        li Calendar
      li Archive
      li Market
      li Forum 
      li Blog
  br
  div#albumHeader
    p #{album[0].name}
  br
  div#albumContent
    div#albumArt
      img(src='/images/albums/' + album[0].name + '.jpg')
    div#albumInfo
      p #{album[0].year}
      p #{album[0].tracks} tracks
      p #{album[0].description}
      div#albumTracks
        each val, index in tracks
          a(href='/music/song/' + tracks[index].trackname)
            div(class='albumTrack')
              p #{tracks[index].trackname}
                span#albumTrackLength #{tracks[index].length}
