extends ../layout
block content
  br
  div#albumHeader
    p #{album[0].name}
  br
  div#albumArt
    img(src='/images/albums/' + album[0].name + '.jpg' id='albumPic')
  div#albumInfo
    p#albumYear #{album[0].year}
    p#trackCount #{album[0].tracks} tracks
    p #{album[0].description}
    div#albumTracks
      each val, index in tracks
        a(href='/music/song/' + tracks[index].trackname)
          div(class='albumTrack')
            p #{tracks[index].trackname}
              span#albumTrackLength #{tracks[index].length}
