extends ../../layout
block content
  br
  div#albumHeader(class=album[0].album.slice(0, album[0].album.indexOf(' ')) class='songTitle')
    p #{results[0].song}
  div(class='songStats')
    p Total times played: #{results.length}
    p Last played: #{results[0].date.toString().slice(0,15)}
    p First played: #{results[results.length-1].date.toString().slice(0,15)}
  each val, index in results
    a(href='/setlists/' + results[index].title)
      div.hue(class='tourDate')
        div(class='tourDateLeft')
          - var date = results[index].date
          - date = date.toString();
          - date = date.slice(0,15);
          p#tourDate 
            b Date: 
              span#tourText #{date}
          p#tourLocation 
            b Location: 
              span#tourText #{results[index].city}, #{results[index].state}, #{results[index].country}
        div(class='tourDateRight')  
          p#tourVenue 
              span#tourText #{results[index].title}
        div(class='tourTime')
          p#tourTime 
            b Venue: 
              span#tourText #{results[index].venue}
  div(class='tourBottom')
    p 
  script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.0.min.js')
  script(type='text/javascript' src='/javascripts/hue.js')
