extends ../layout
block content
  link(rel='stylesheet', href='/stylesheets/setlists.css')
  br
  div#tourHead
    p Setlists
    a(href='/setlists/new')
      button.hue(class='green') + Add Setlist
  br
  each val, index in results
    a(href="/setlists/" + results[index].title)
      div.hue(class='tourDate')
        div(class='tourDateLeft')
          - var date = results[index].date
          - date = date.toString();
          - date = date.slice(0,15);
          p#tourDate 
            b Date: 
              span#tourText #{date}
          p#tourLocation 
            b Location: 
              span#tourText #{results[index].city}, #{results[index].state}, #{results[index].country}
        div(class='tourDateRight')  
          p#tourVenue.titleText
              span#tourText #{results[index].title}
              if (results[index].username)
                span#userText Submitted by #{results[index].username}
        div(class='setTime')
          p#tourTime 
            b Venue: 
              span#tourText #{results[index].venue}
          p#tourTime
            b Songs:
              span#tourText #{results[index].count}
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(type='text/javascript' src='/javascripts/hue.js')
