extends ../layout
block content
  br
  div(class='tourDateSet')
    div(class='tourDateLeft')
      - var date = results[0].date
      - date = date.toString();
      - date = date.slice(0,15);
      p#tourDate 
        b Date: 
          span#tourText #{date}
      p#tourLocation 
        b Location: 
          span#tourText #{results[0].city}, #{results[0].state}, #{results[0].country}
    div(class='tourDateRight')  
      p#tourVenue 
          span#tourText #{results[0].title}
          if (results[0].username)
            span#userText Submitted by #{results[0].username}
    div(class='setTime')
      p#tourTime 
        b Venue: 
          span#tourText #{results[0].venue}
      p#tourTime
        b Songs:
          span#tourText  #{count}
  br
  each val, index in results
    a(href='../../music/song/' + results[index].song + '/')
      div.hue#trackList
        p.setSong #{results[index].song}
        if results[index].notes !== null
          p.setNotes #{results[index].notes}
        if results[index].performers !== null
          div.performers
            p Additional Performers: 
            p #{results[index].performers}
        if results[index].tran == 'x'
          img(src='../images/transition.png' class='tran')
  script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.0.min.js')
  script(type='text/javascript' src='/javascripts/hue.js')
